.navbar-brand {
    float: left;
    padding: 15px;
    font-size: 29px;
    line-height: 43px;
    height: 50px;
}

.navbar {
    min-height: 70px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

.navbar-form {
    margin-left: -15px;
    margin-right: -15px;
    padding: 10px 15px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.container {
	width: 1200px;
}

